/logs/
/essential
/local
/mods
/defaultconfigs
/data
/blueprints
/natives
resourcepacks
.vscode
modernfix
saves
xaero


# files
observable_announce
STALLER.jar
STALLER.json
TLauncherAdditional.json
usercache.json
usernamecache.json
options.txt
patchouli_data.json

